<button (click)="volverLista()">Volver</button>
<form [formGroup]="FormAdd" (ngSubmit)="FormInitSubmit(FormAdd.value)">
    <fieldset>
      <legend>Añadir Pregunta</legend>
      <label for="pregunta">
        <h4>Pregunta</h4>
        <input type="text" id="pregunta" formControlName="pregunta">
      </label>
      <label for="a">
        <h4>Respuesta a</h4>
        <input type="text" id="a" formControlName="a">
      </label>
      <label for="b">
        <h4>Respuesta b</h4>
        <input type="text" id="b" formControlName="b">
      </label>
      <label for="c">
        <h4>Respuesta c</h4>
        <input type="text" id="c" formControlName="c">
      </label>
      <label for="correcta">
        <h4>Respuesta correcta</h4>
            <select name="correcta" id="correcta" formControlName="correcta">
                <option value="a">a</option>
                <option value="b">b</option>
                <option value="c">c</option>
            </select>
      </label>
      <button type="submit"> Añadir </button>
    </fieldset>
  </form>
    