
<h1>Cuersionario Custom</h1>

<nav>

</nav>

<!--
<button class="color1">Color</button>
<button class="color2">Color</button>
<button class="color3">Color</button>
-->

<router-outlet></router-outlet>