@import '../styles.scss';

/*
.color1{
    background-color: rgb(240, 208, 30);
}.color2{
    background-color: dodgerblue;
}.color3{
    background-color: rgb(194, 42, 100);
}
button{
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 10px;
}
*/