<div >
    <p> Puntuación actual: {{puntuacion | percent: '0.0-2' }} </p>
</div>
  
<button (click)="addQuestion()">Añadir pregunta</button>


<section *ngIf="preguntas.length">
  <div class="container" *ngFor="let pregunta of preguntas">
    <div class="preg">
      <h3>Pregunta:</h3>
      <p>{{pregunta.pregunta}}</p>
    </div>
    <div class="line"></div>
    <div class="resp">
      <h4>Opciones:</h4>
      <label for="{{pregunta.id}}a">
        <input type="radio" id="{{pregunta.id}}a" name="{{pregunta.id}}">
        <p>{{pregunta.respuesta.a}}</p>
      </label>
      <label for="{{pregunta.id}}b">
        <input type="radio" id="{{pregunta.id}}b" name="{{pregunta.id}}">
        <p>{{pregunta.respuesta.b}}</p>
      </label>
      <label for="{{pregunta.id}}c">
        <input type="radio" id="{{pregunta.id}}c" name="{{pregunta.id}}">
        <p>{{pregunta.respuesta.c}}</p>
      </label>
    </div>
    <img src="../../../assets/cancel.svg" alt="borrar" class="container__deleteButton" (click)="deleteQuestion(pregunta.id)"> 
    <img src="../../../assets/pencil.svg" alt="editar" class="container__editButton" (click)="editQuestion()"> 
</div>
</section>
<section>
  <button (click)="finalizarCuestionario()">FINALIZAR CUESTONARIO</button>
</section>
