@import '../../../styles.scss';

section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container{
  display: flex;
  width: 45vw;
  max-width: 600px;
  min-height: 200px;
  justify-content: center;
  margin: 50px 15px;
  border: 1px solid $base-color;
  box-shadow: 3px 3px 4px $base-color;
  text-align: center;
  position: relative;
}

.container__editButton, .container__deleteButton{
  position: absolute;
  width: 25px;
  right: 40px;
  top: 10px;
  &:hover{
    filter: brightness(120%);
  }
}
.container__deleteButton{
  right: 10px;
}

.resp, .preg{
  padding: 30px 20px;
  width: 45%;
}
label{
display:flex;
align-items: center;
}
input{
  margin-right: 10px;
}
.line{
  width: 2px;
  background-color: $base-color;
  margin: 25px 0;
}


@media only screen and (max-width: 540px){
  .container{
    flex-direction: column;
    min-width: 150px;
  }
  .line{
    width: 80%;
    height: 2px;
    background-color: $base-color;
    margin: auto;
  }
  .resp, .preg{
    padding: 30px 15px;
    width: calc(100% - 30px);
  }
}