/* You can add global styles to this file, and also import other style files */

$base-color: rgb(240, 208, 30);

button{
    padding: 10px 20px;
    background-color: $base-color;
    border:none;
  }
button:hover{
    filter: brightness(120%);
}