
<form [formGroup]="myForm" (ngSubmit)="FormInitSubmit(myForm.value)">
  <fieldset>
    <legend>Datos Personales</legend>
    <label for="name">
      <h4>Nombre</h4>
      <input type="text" id="name" formControlName="name">
    </label>
    <label for="dni">
      <h4>DNI</h4>
      <input type="text" id="dni" formControlName="dni">
    </label>
    <label for="mail">
      <h4>EMAIL</h4>
      <input type="text" id="mail" formControlName="mail">
    </label>
    <button type="submit"> BOTON </button>
  </fieldset>
</form>
  